
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    text-decoration: none;
    color: black;
    outline: 0;
    
}

body {
    background: linear-gradient(to bottom, #ffc425, #eaaa00);
    
}

#main {
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#header {
    
    width: fit-content;
    margin: .5em auto;

    .title {

        font-family: 'Bevan', cursive;
        transform: skew(-0.02turn, -6deg);
        font-size: 4em;
        text-shadow: 1px 1px 2px #000000;
    }
}



#search {

    margin: 1em auto;

    input {
        width: 17em;
        padding: 1em;
    }

    button {
        padding: 1em 1.5em;
        background-color: #e13e45;
        border: none;
        color: white;
    }

}

// $font-size-h2: 1em;

.beerList {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2em;
    margin-top: 2em;

    .beerItems {
        height: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: aliceblue;
        border-top: 1em solid #e13e45;

        h2 {
            text-align: center;
            padding: .5em;
            // font-size: calc(#{$font-size-h2} * (1 + (100vw - 10px)));
            font-size: 1em;
        }

        img {
            height: 80%;
            margin: auto;
        }

        &:hover {
            transform: scale(1.05);
        }



    }
}


#item {
    width: 60%;
    height: fit-content;
    background-color: aliceblue;
    margin: auto;
    border-top: 1em solid #e13e45;


    .item-details {
        width: 100%;
        height: 50%;
        display: flex;

        .details-img {
            width: 30%;

            img {
                height: 50%;
                padding: 1em; 
            }
        }

        .details-description {
            width: 70%;
            padding: 1em;
            margin-top: 1em;
        }
    }

    .item-info {
        width: 100%;
        height: 50%;
        padding: 2em;
        display: flex;

        .info-display {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 70%;
    
        }

        .item-img {
            width: 30%;
            background-color: #e13e45;
        }
    }
}